/******************************************
***************** Minimap *****************
*******************************************/

#minimap {
	position: absolute;
	left: 40%;
	top: 40%;
}

#minimap table{
	border-collapse:collapse;
}

#minimap td {
	border: solid red 1px;
	width: 40px;
	height: 40px;
}

#perso {
	position: relative;
	width: 32px;
	height: 32px;
	left: 5%; top: 5%;
	text-align: center;
	background-color: blueviolet;
	border: 2px solid black;
}

#sol {
	width: 40px;
	height: 40px;
	/*background-color: bisque;*/
}

.gauche {
	background-image: url("../img/gauche.png");
	background-repeat: no-repeat;
}

.perso {
	left: 5px;
}